

<h3>ルーム詳細</h3>
 
 <table>
   <tr>
    <td><%= image_tag @books.room_image.url %></td>
   </tr>
   <tr>
     <th>ルーム名</th>
     <td><%= @books.room_name %></td>
   </tr>
   <tr>
     <th>ルーム紹介</th>
     <td><%= @books.room_introduce %></td>
   </tr>
   <tr>
     <th>料金/日</th>
     <td><%= @books.fee %></td>
   </tr>
   <tr>
     <th>住所</th>
     <td><%= @books.addres %></td>
   </tr>
   <tr>
     <td><%= link_to "予約する", new_book_reservation_path(@books.id) %> </td>
   </tr>
</table>

 
