<!DOCTYPE html>
<html>
  <head>
    <title>Server</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <a href="/server/index"><img src = "https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" class = "logo"></a>
        <div class = "logcontainer">
          <% if user_signed_in? %>
            <%= image_tag current_user.avatar.url %>
            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li class="menu_li"><%= link_to "ルーム登録", new_book_path %></li>
                  <li class="menu_li"><%= link_to "登録済みルーム一覧", books_path %></li>
                  <li class="menu_li"><%= link_to "プロフィール変更", edit_user_registration_path %></li>
                  <li class="menu_li"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </div>
            </div>
          <% else %>
            <%= link_to new_user_registration_path do %>
              <button class="btn btn-primary mr-2">新規登録</button>
            <% end %>
            <%= link_to new_user_session_path do %>
              <button class="btn btn-success ml-2">ログイン</button>
            <% end %>
　　　    <% end %>  
　　　  </div>
    </header>
        <div class="notice"><%= notice %></div>
  　     <div class="alert"><%= alert %></div>
    <%= yield %>
    <footer>
      <p class = "footertitle">© 2020 POTEPAN.INC.</p>　
    </footer>
  </body>
</html>
